body {
    font-family: Arial, sans-serif;
}

.container {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Color crema con opacidad */
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

.mesa-group {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mesa-item {
    flex: 0 0 calc(25% - 20px); /* Establece el ancho de cada mesa al 25% del contenedor menos los márgenes */
    margin: 10px;
    box-sizing: border-box;
}

.mesa-imagen {
    width: 100%; /* Ajusta el tamaño al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    border: 2px solid #333;
    border-radius: 5px;
}

.nombre-mesa {
    margin-top: 10px;
    font-weight: bold;
    text-align: center; /* Centra el texto dentro del contenedor */
}

.boton-ocupar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
}

/* Estilos específicos para mesas libres */
.mesa-libre {
    background-color: #4CAF50; /* Verde */
    color: #ffffff;
}

/* Estilos específicos para mesas ocupadas */
.mesa-ocupada {
    background-color: #FF6347; /* Rojo */
    color: #ffffff;
}

.mesa-modificada {
    background-color: #e98725; /* Rojo */
    color: #ffffff;
}

.mesa-libre:hover {
    background-color: #69b96d; /* Cambia el color al pasar el ratón sobre el botón */
}

.mesa-ocupada:hover {
    background-color: #f27862; /* Cambia el color al pasar el ratón sobre el botón */
}

.mesa-modificada:hover {
    background-color: #d78955; /* Cambia el color al pasar el ratón sobre el botón */
}

h1 {
    font-size: 50px;
    text-align: center;
    color:#4D382D; /* Color crema para el texto */
}

h2 {
    text-align: center;
    color:#4D382D;
}

.volver-button {
    width: fit-content;
    position: absolute;
    width: 80px; /* Ajusta el ancho según tus necesidades */
    height: 80px; /* Ajusta la altura según tus necesidades */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* Agrega una transición para suavizar el efecto de hover */
}

.volver-button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón sobre el botón */
}

button {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}

img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Ajusta el tamaño según tus necesidades */
    border: 2px solid #333; /* Añade un borde a las imágenes */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

/* Estilos específicos para mesas libres y ocupadas */
img.libre {
    background-color: lightgreen; /* Fondo verde para mesas libres */
}

img.ocupada {
    background-color: indianred; /* Fondo rojo para mesas ocupadas */
}


a {
    text-decoration: none;
    color: black;
}


form[name="formulario-filtros"], .div-table {
    padding-left: 50px;
    padding-right: 50px;
}


    
.filtro-salas {
    display: flex;
    margin: 4px 0 4px 0;
    
    >div {
        width:100%;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        position: relative;
        
        >input {
            opacity: 0;
        }
        
        >label, >a {
            text-decoration: none;
            width: 100%;
            display: block;
            top: 0;
            left: 0;
            text-align: center;
            height: 100%;
            transition: 300ms;
            cursor: pointer;

            &:hover, &:active {
                background-color: var(--scolor);
            }
        }
        
        >input:checked + label {
            background-color: var(--pcolor);
        }
    }
}

.filtro-salas2 {
    display: flex;
    margin: 0;
}

.filtro-medio {
    width: 20%;
}

.filtro-visual {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
