:root {
    --pcolor:#b8812e;
    --scolor:#ffd343;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}


form[name="formulario-filtros"], .div-table {
    padding-left: 50px;
    padding-right: 50px;
}


    
.filtro-salas {
    display: flex;
    margin: 4px 0 4px 0;
    
    >div {
        width:100%;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        position: relative;
        
        >input {
            opacity: 0;
        }
        
        >label, >a {
            text-decoration: none;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            height: 100%;
            padding-top: 6px;
            transition: 300ms;
            cursor: pointer;

            &:hover, &:active {
                background-color: var(--scolor);
            }
        }
        
        >input:checked + label {
            background-color: var(--pcolor);
        }
    }
}

.filtro-salas2 {
    display: flex;
    margin: 0;
}

.filtro-medio {
    width: 50%;
}

.filtro-visual {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}



table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    >thead >tr >th {
        text-align: left;
    }
}

tr.fila-par:has(>td#mesa_libre ) {
    background-color: rgb(167, 201, 167);
}

tr.fila-impar:has(>td#mesa_libre ) {
    background-color: rgb(152, 219, 152);
}

tr.fila-par:has(>td#mesa_ocupada ) {
    background-color: rgb(192, 118, 118);
}

tr.fila-impar:has(>td#mesa_ocupada ) {
    background-color: rgb(187, 88, 88);
}

th, td {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ffe799;  
}

.volver-button {
    width: fit-content;
    position: absolute;
    width: 80px; /* Ajusta el ancho según tus necesidades */
    height: 80px; /* Ajusta la altura según tus necesidades */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* Agrega una transición para suavizar el efecto de hover */
}

.volver-button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón sobre el botón */
}

.mesa-libre {
    background-color: #4CAF50; /* Verde */
    color: #ffffff;
}

/* Estilos específicos para mesas ocupadas */
.mesa-ocupada {
    background-color: #FF6347; /* Rojo */
    color: #ffffff;
}

.mesa-libre:hover {
    background-color: #69b96d; /* Cambia el color al pasar el ratón sobre el botón */
}

.mesa-ocupada:hover {
    background-color: #f27862; /* Cambia el color al pasar el ratón sobre el botón */
}